.home{
    h2{
        text-align: center;
        padding: 40px;
        background: transparent;
        backdrop-filter: blur(20px);
        border-radius: 20px;
        border: 2px solid violet;
        max-width: 700px;
        margin: 200px auto;
        color: white;
    }
}